<form action="/index/add" method="post"><br>
<label for='name_of_the_group'>Name of the Group:</label><br>
<input type="text" name="name_of_the_group" id="name_of_the_group" required>
<br>
Location of the Meetup:<br>
<select name="location">
<% locations.each do |location| %>
    <option value="<%= location.name %>"><%= location.name %></option>
<% end %></select><br>
Description of the Meetup:<br>
<input type="text" name="description" required><br>
Categories of the Meetup:<br>
<% categories.each do |category| %>
  <label><%= category.name %></label>
  <input type="checkbox" name="<%= category.name %>" value="<%= category.name %>" >
<% end %>
<br><br>
<input type="submit" value="Submit">
</form>

